/* body layout*/

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #1A1915;
}

#fsl-header {
    display: grid;
    box-sizing: border-box;
    box-shadow: 0 0 0.2rem gray;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem;
    width: 100%;
}

main {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

#fsl-footer {
    display: grid;
    box-sizing: border-box;
    box-shadow: 0 0 0.2rem gray;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem;
    width: 100%;
}

/* main layout */

main > * {
    min-height: 100%;
}


main > section:nth-child(odd):not(:first-child) {
    background-color: rgb(247, 193, 66);
}
main > *:nth-child(even) {
    background-color: rgb(81, 142, 210);
    color: white;
}

/* footer layout */

#fsl-footer > *:first-child {
    justify-content: flex-start;
}

#fsl-footer > * {
    justify-content: center;
}

#fsl-footer > *:last-child {
    justify-content: flex-end;

}

/* nav layout */

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

nav > *:not(:first-child) {
    margin-left: 1rem;
}

nav > a {
    color: #1A1915;
    font-weight: bold;
    text-decoration: none;   
    font-size: 2em;
}


nav > a:hover {
    text-decoration: underline;
}

/* element styling */ 

p {
    font-weight: bold;
    font-size: 1rem;
}

img {
    max-width: 100%;
}

button {
    border: none;
    background-color: rgb(81, 142, 210);
    font-size: 1.5rem;
    color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: rgb(111, 169, 235);
}

h1 {
    font-size: 2.5em;
}

h2 {
    margin: 0;
}

table {
    font-size: 1.5rem;
}

td {
    width: 20%;
    text-align: right;
}

td:first-child {
    text-align: left;
}

/* splash styling */

#home {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

/* layout classes */

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-column-gaps > *:not(:first-child) {
    margin-top: 1rem;
}

.limited-width {
    max-width: 960px;
}

.half-height {
    min-height: 50%;
}

.simple-margin {
    margin: 2rem;
}

.simple-padding {
    padding: 2rem
}

.border-box {
    box-sizing: border-box;
}
.bold {
    font-weight: bold;
}

.flex-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.flex-grow {
    flex-grow: 1;
}

.no-margins {
    margin: 0;
}

.grid-span-two {
    grid-column: span 2;
}

.space-between {
    justify-content: space-between;
}

/* styling classes */

.background-white {
    background-color: white;
    color: #1A1915;
}


.text-very-big {
    font-size: 2.5rem;
}

.full-width {
    width: 100%;
}

.grid-two-split {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.hover-pointer:hover {
    cursor: pointer;
}

/* time display */


.timeDisplayContainer {
    display: flex;
    justify-content: center;
}

.timeDisplayContainer > * {
    background-color: rgb(218,7,43);
    width: 100px;
    height: 100px;
    padding: 10px;
    line-height: 35px;
    border: 2px solid black;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    margin: 0px;

    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    -ms-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
}

.timeDisplayContainer > *:first-child {
    background-color: rgb(247, 193, 66);
    border-radius: 1rem 0px 0px 1rem;
}

.timeDisplayContainer > *:last-child {
    background-color: rgb(81, 142, 210);
    border-radius: 0px 1rem 1rem 0px;
}

.timeDisplayContainer >*:not(:first-child) {
    margin-left: 0.5rem;
}


/* Factsplat iframe */



.fs-wrapper {
	position: relative;
	padding-bottom: 35rem; 
	padding-top: 10rem;
	height: 0;
}
.fs-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* map hack */

.disable-google-zoom {
    pointer-events: none;
}